body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #93B2FB;
  padding: 20px 0;
  color: #fff;
  position: relative;
}

header h1 {
  margin: 0;
  display: inline-block; /* Добавлено */
}

header button {
  background-color: #FB93B2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right; /* Добавлено */
}

nav {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 0;
}

nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}



section.description {
  padding: 50px 0;
  text-align: center;
}

.btn {
  background-color: #93B2FB;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #6C8FEB;
}

.show {
  display: block;
}




