/* @import url('https://fonts.googleapis.com/css?family=Varela+Round'); */
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #A1B8FB;
    position: fixed;
    height: 75px!important;
    overflow: hidden;
    z-index: 10;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.header h1{
    color: white;
    margin-left: 10px;
    
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.mainInner{
    top: 15px;
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 75px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: #B7A1FB;
    z-index: 10;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}


/* ICON */
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 18px;
    right: 20px;
    /* height: 22px;
    width: 22px; */
    margin-bottom: 10px;
    height: 22px;
    width: 44px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #ffffff;
}

.diagonal {
    height: 6px;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 6px;
    height: 6px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;

    margin-top: 6px;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;

    margin-top: 6px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    height: 0;
    transition: height 0.3s, opacity 0.3s;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transform: rotate(135deg);
    margin-top: 18px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transform: rotate(-135deg);
    margin-top: -9px;
}

.test-block {
    color: #474A51;
    position: relative;
    top: 50px;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.advices {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tile {
    margin-top: 20px;
    color: white;
    flex-grow: 1; /* Занимать все доступное пространство в родительском контейнере */
    background-color: #B7A1FB;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20px; /* Расстояние между плитками */
}

.tile:last-child {
    margin-right: 0; /* Убрать правый отступ для последней плитки */
}

.tile h2 {
    margin-top: 0;
}

.tile p {
    margin-bottom: 0;
}

.test-title {
    margin-top: 100px;
}

.test-title h1 {
    text-align: center;
    color: #474A51;
}


.quiz-container {
    color: #474A51;
    margin-top: 20px;
    background-color: #f9f9f9;
    /* border-color: #1a1a1a;
    border-style: solid;
    border-radius: 8px; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-title {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question p {
    font-weight: bold;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .options label {
    margin-bottom: 20px;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options span {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .options span:hover {
    background-color: #e0e0e0;
  }
  
  .options input[type="radio"]:checked + span {
    background-color: #B7A1FB;
    color: white;
  }
  
  .options input[type="radio"]:checked + span::before {
    content: '\2022';
    font-size: 20px;
    margin-right: 8px;
  }
  